<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <%= I18n.locale.upcase %>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
    <li><%= link_to "English", root_path(locale: :en), class: "dropdown-item" %></li>
    <li><%= link_to "Svenska", root_path(locale: :sw), class: "dropdown-item" %></li>
    <li><%= link_to "Russian", root_path(locale: :ru), class: "dropdown-item" %></li>
  </ul>
</li>